# Shopify Headless Storefront Credentials
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=sxr11n-4z.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=your_storefront_public_access_token_here
SHOPIFY_STOREFRONT_PRIVATE_TOKEN=your_storefront_private_access_token_here
NEXT_PUBLIC_SHOPIFY_API_VERSION=2024-01
SHOPIFY_GRAPHQL_ENDPOINT=https://sxr11n-4z.myshopify.com/api/2024-01/graphql.json

# Shopify Customer Account API Credentials
NEXT_PUBLIC_SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_ID=your_customer_account_client_id_here
NEXT_PUBLIC_SHOPIFY_SHOP_ID=99668787516
